.loading-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    background: var(--white);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 2px 8px var(--neutral-200);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);


    &-image {
      aspect-ratio: 16/13;
      border-radius: var(--border-radius-md);
    }

    &-title {
      width: 75%;
      height: 24px;
    }

    &-desc {
      width: 50%;
      height: 16px;
    }
  }
}
