$primary-light: (
        100: #DBEAFE,
        200: #BFDBFE,
        300: #93C5FD,
        400: #60A5FA,
        500: #3B82F6,
        600: #2563EB,
        700: #1D4ED8,
        800: #1E40AF,
        900: #1E3A8A
);
$secondary-light: (
        100: #FEE2E2,
        200: #FECACA,
        300: #FCA5A5,
        400: #F87171,
        500: #EF4444,
        600: #DC2626,
        700: #B91C1C,
        800: #991B1B,
        900: #7F1D1D
);
$neutral-light: (
        100: #F3F4F6,
        200: #E5E7EB,
        300: #D1D5DB,
        400: #9CA3AF,
        500: #6B7280,
        600: #4B5563,
        700: #374151,
        800: #1F2937,
        900: #111827
);
$warning-light: #FBBF24;
$danger-light: #EF4444;
$success-light: #10B981;
$white-light: #FFFFFF;
$black-light: #000000;

$primary-dark: (
        100: #1E3A8A,
        200: #1D4ED8,
        300: #2563EB,
        400: #3B82F6,
        500: #60A5FA,
        600: #93C5FD,
        700: #BFDBFE,
        800: #DBEAFE,
        900: #EFF6FF
);
$secondary-dark: (
        100: #7F1D1D,
        200: #991B1B,
        300: #B91C1C,
        400: #DC2626,
        500: #EF4444,
        600: #F87171,
        700: #FCA5A5,
        800: #FECACA,
        900: #FEE2E2
);
$neutral-dark: (
        100: #111827,
        200: #1F2937,
        300: #374151,
        400: #4B5563,
        500: #6B7280,
        600: #9CA3AF,
        700: #D1D5DB,
        800: #E5E7EB,
        900: #F3F4F6
);
$warning-dark: #FBBF24;
$danger-dark: #EF4444;
$success-dark: #10B981;
$white-dark: #000000;
$black-dark: #FFFFFF;

$brand-color: #F4A460;
$brand-color-100: rgba($brand-color, 0.1);
$brand-color-200: rgba($brand-color, 0.2);
$brand-color-300: rgba($brand-color, 0.3);
$brand-color-400: rgba($brand-color, 0.4);
$brand-color-500: rgba($brand-color, 0.5);
$brand-color-600: rgba($brand-color, 0.6);
$brand-color-700: rgba($brand-color, 0.7);
$brand-color-800: rgba($brand-color, 0.8);
$brand-color-900: rgba($brand-color, 0.9);