:root {
    --border-radius-none: 0px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --border-radius-xl: 16px;
    --border-radius-pill: 9999px;
    --border-radius-circle: 50%;
}