:root {
  /* Font Sizes */
  --typography-font-size-base: 16px;
  --typography-font-size-lg: 20px;
  --typography-font-size-sm: 14px;
  /* root is null, so omit */

  /* Font Weights */
  --typography-font-weight-lighter: lighter;
  --typography-font-weight-light: 300;
  --typography-font-weight-normal: 400;
  --typography-font-weight-bold: 700;
  --typography-font-weight-bolder: bolder;
  --typography-font-weight-base: 400;

  /* Headings */
  --typography-headings-h1: 40px;
  --typography-headings-h2: 32px;
  --typography-headings-h3: 28px;
  --typography-headings-h4: 24px;
  --typography-headings-h5: 20px;
  --typography-headings-h6: 16px;

  /* Line Heights */
  --typography-line-height-base: 1.5;
  --typography-line-height-lg: 2;
  --typography-line-height-sm: 1.25;
}
