@use '@/styles/tokens/colors' as *;
@use '@/styles/tokens/spacing' as *;
@use '@/styles/tokens/border-radius' as *;
@use '@/styles/tokens/mixins' as *;

:root {
  --bottom-nav-item-gap: #{pxToRem(6)};
  --bottom-nav-list-padding: #{pxToRem(8)} #{pxToRem(16)};
}

.bottomNavigationWrapper {
  display: block;
  height: 100%;

  @include desktop {
    display: none;
  }

  .bottomNavigation {
    height: 100%;
    width: 100%;

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      min-width: 100%;
      overflow-x: scroll;
      background: $color-background;
      padding: var(--bottom-nav-list-padding);
      max-width: 100vw;

      li {
        list-style: none;
        height: 100%;
      }

      &-item {
        min-width: pxToRem(48);
        height: 100%;
        padding: 0 pxToRem(8);
        color: $color-foreground;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--bottom-nav-item-gap);

        &.active {
          background: $color-primary;
          color: $color-primary-foreground;
          border-radius: $radius-xl;
        }
      }
    }
  }

  .skeletonContainer {
    height: 100%;
    width: 100%;
    gap: var(--bottom-nav-item-gap);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    overflow-x: scroll;
    background: $color-background;
    padding: var(--bottom-nav-list-padding);
  }
}
