@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/border-radius' as *;
@use '@styles/tokens/spacing' as *;

.wrap {
  // Mobile: full width, 5:3 ratio
  position: relative;
  inline-size: 100%;
  aspect-ratio: 5 / 3;
  overflow: hidden;
  border-radius: $radius-xxl;
  padding: 0;
  flex: 0 1 auto;

  @include tablet {
    aspect-ratio: 4 / 3;
    flex: 0 0 auto;
  }

  @include desktop {
    // Desktop: fixed 350x220
    /*inline-size: #{pxToRem(350)};
    */
    aspect-ratio: 1;
    block-size: #{pxToRem(260)};
    //flex: 0 0 auto;
  }

  .image {
    object-fit: cover;
    object-position: center;
  }
}
