@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/colors' as *;

.smartSearch {
  --smart-search-container-height: calc(100vh - var(--topbar-height) - var(--bottom-nav-height, 0));

  display: flex;
  flex-direction: column;
  height: var(--smart-search-container-height);
  min-height: var(--smart-search-container-height);
  max-width: var(--container-xl);
  margin: 0 auto;
  width: 100%;

  position: relative;

  .searchPanel {
    //position: absolute;
    background-color: $color-background-secondary;
  }

  .searchResults {
    //position: absolute;
    inset: 0;
    overflow: auto;
  }

  @include tablet {
    position: static;
    flex-direction: row;

    .searchPanel {
      position: static;
      flex: none;
      flex-basis: 35%;
      border-right: 1px solid $color-border;
    }

    .searchResults {
      position: static;
      flex: none;
      flex-basis: 65%;
    }
  }

  @include desktop {
    --smart-search-container-height: calc(100vh - var(--topbar-height));

    position: static;
    flex-direction: row;

    .searchPanel {
      position: static;
      flex: none;
      flex-basis: 35%;
      border-right: 1px solid $color-border;
    }

    .searchResults {
      position: static;
      flex: none;
      flex-basis: 65%;
    }
  }
}
