@use 'sass:math';
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/colors' as *;

.bottomLine {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: pxToRem(12);
  color: $color-secondary-foreground;
  padding: #{pxToRem(8)} 0;
  font-size: pxToRem(14);
  // horizontal gutters, aligned with grid items, col and row padding of 16px on each side
  margin-inline: math.div(32px, 2);

  .bottomLineContent {
    display: flex;
    flex-direction: column;
    gap: pxToRem(4);
  }
  &::before,
  &::after {
    content: '';
    flex: 1 1 0;
    width: 100%;
    height: 0;
    border-bottom: 2px dashed $color-secondary-foreground;
    display: flex;
    align-self: center;
  }
}
