@use '@/styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;

.topBar {
  display: flex;
  padding: pxToRem(16);

  align-items: center;
  gap: pxToRem(24);

  .logo {
    max-height: pxToRem(27);
    @include desktop {
      display: none;
    }
  }

  .searchBar {
    flex: 1 1 auto;
  }

  .userBtn {
    border: 10px solid red;
    border-radius: 50%;
    width: pxToRem(27);
    height: pxToRem(27);
  }
}
