@use 'sass:math';
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/colors' as *;

.infoRowContainer {
  width: 100%;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding-block-start: #{pxToRem(16)};
  padding-block-end: #{pxToRem(16)};
  display: flex;
  gap: #{pxToRem(12)};

  .infoItem {
    display: flex;
    gap: #{pxToRem(4)};
    .icon {
      color: #{$color-muted-foreground};
    }
    .infoLabel {
      font-size: var(--text-body-lg);
      font-weight: var(--font-semibold);
    }
  }
}
