@use 'sass:math';
@use '@/styles/tokens/spacing' as *;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

.grid {
  width: 100%;
  margin-inline: auto;
  padding-inline: $grid-gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;

  // horizontal gutters
  margin-inline: math.div($grid-gutter, 2);

  // vertical gutters
  row-gap: $grid-gutter;
}

[class*='col-'] {
  padding-inline: math.div($grid-gutter, 2);
  box-sizing: border-box;

  // allow content to shrink and wrap nicely
  min-width: 0;
  place-items: center;
  margin-block-end: clamp(1rem, -0.7647rem + 7.8431vw, 3rem);
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, $grid-columns));
    max-width: math.percentage(math.div($i, $grid-columns));
  }
}

@each $name, $size in $breakpoints {
  @media (min-width: $size) {
    @for $i from 1 through $grid-columns {
      .col-#{$name}-#{$i} {
        flex: 0 0 math.percentage(math.div($i, $grid-columns));
        max-width: math.percentage(math.div($i, $grid-columns));
      }
    }
  }
}
