@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/colors' as *;

.mealsList {
  --meals-list-padding: #{pxToRem(24)} #{pxToRem(16)};

  padding: var(--meals-list-padding);

  @include tablet {
    --meals-list-padding: #{pxToRem(32)} #{pxToRem(16)};
  }

  .emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-3;
    text-align: center;
    width: 100%;
  }
}
