// scss
@use 'sass:math';
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/colors' as *;

.mealsList {
  --meas-list-Padding: #{pxToRem(24)} #{pxToRem(16)};
  padding: var(--meas-list-Padding);

  @include tablet {
    --banner-padding: #{pxToRem(32)} #{pxToRem(16)};
  }

  .bottomLine {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: pxToRem(12);
    color: $color-secondary-foreground;
    padding: #{pxToRem(8)} 0;
    font-size: pxToRem(14);
    // horizontal gutters, aligned with grid items, col and row padding of 16px on each side
    margin-inline: math.div(32px, 2);

    &::before,
    &::after {
      content: '';
      flex: 1 1 0;
      width: 100%;
      height: 0;
      border-bottom: 2px dashed $color-secondary-foreground;
      display: flex;
      align-self: center;
    }
  }
}
