$color-background: #ffffff;
$color-foreground: #000000;
$color-border: #e8e8e8;
$color-input: #f8f8f7;

/*Primary*/
$color-primary: #242424;
$color-primary-foreground: #ffffff;

/*Secondary*/
$color-secondary: #d3d3d3;
$color-secondary-foreground: #242424;

/*Muted*/
$color-muted: #e8e8e8;
$color-muted-foreground: #949494;

/*Success*/
$color-success: #00c417;
$color-success-foreground: #ffffff;

/*Accent*/
$color-accent: #242424;
$color-accent-foreground: #ffffff;

/*Destructive*/
$color-destructive: #ff0000;
$color-destructive-foreground: #ffffff;

/*Warning*/
$color-warning: #ff7308;
$color-warning-foreground: #ffffff;

/*Card*/
$color-card: #fbfaf9;
$color-card-foreground: #000000;

/*Sidebar*/
$color-sidebar: #ffffff;
$color-sidebar-foreground: #4a4a4a;
$color-sidebar-primary: #e8e8e8;
$color-sidebar-primary-foreground: #000000;
