// file: 'src/app/layout.module.scss'
@use '@/styles/tokens/mixins' as *;
@use '@/styles/tokens/spacing' as *;

.root {
  display: grid;
  min-height: 100dvh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr $bottom-navigation-height;
  grid-template-areas:
    'main'
    'nav';
  height: 100vh;
}

.nav {
  grid-area: nav;
  height: $bottom-navigation-height;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
}

.main {
  grid-area: main;
  min-width: 0;
  overflow: auto;
  width: 100%;
}

@include desktop {
  .root {
    grid-template-columns: $side-navigation-width 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 'nav main';
  }

  .nav {
    height: auto;
    width: $side-navigation-width;
  }
}
