.ingredientsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);

  &--add-more {
    width: 100%;
  }

  &-item {

    color: var(--black);
    display: flex;
    width: 100%;
    gap: var(--spacing-sm);
    align-items: center;
    padding: var(--spacing-xs) 0;
    overflow-x: scroll;
    justify-content: space-between;

    .selector {
      cursor: grab;
      min-width: 24px;
      min-height: 24px;

      :active {
        cursor: grabbing;
      }
    }

    &--fields {
      display: flex;
      gap: var(--spacing-sm);
      flex: 1;
      align-items: center;


      .inlineFields {
        display: flex;
        gap: var(--spacing-lg);
        justify-content: space-between;

        .field {
          width: 50%;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          padding: var(--spacing-sm);
          border: 1px solid var(--neutral-300);
          border-radius: var(--border-radius-md);
          font-size: var(--typography-font-size-base);
          background: var(--white);
          color: var(--neutral-900);
          transition: border-color 0.2s;
          resize: vertical;
        }
      }
    }

    &--edit {
      display: flex;
      gap: var(--spacing-xs);

    }
  }
}