.loading-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--spacing-xl);
  border-bottom: 1px solid var(--neutral-200);
  background: var(--white);

  .logo {
    width: 128px;
    height: 32px;
  }

  .nav {
    display: flex;
    gap: var(--spacing-md);
    flex-wrap: wrap;

    &-link {
      width: 64px;
      height: 24px;
    }
  }

  .actions {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
  }
}
