.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  max-width: 1200px;
  overflow-x: scroll;

  &__list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }

  &__navigation {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: var(--z-index-sticky);
    background: var(--brand-color-700);
    color: var(--secondary-300);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
      background 0.2s,
      border-color 0.2s;
    margin-inline: var(--spacing-xs);
    border: none;

    &:hover {
      background: var(--brand-color-700);
      border: 2px solid var(--secondary-200);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: var(--neutral-600);
      color: var(--neutral-300);
      border: none;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &-item {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;

    &-image {
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }

    &:hover .carousel-item-content {
      transform: translateY(0);
      min-height: 50%;
      height: auto;
    }

    &-content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-md) var(--spacing-lg);
      transform: translateY(100%);
      min-height: 0;
      height: 0;
      transition:
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
    }
  }
}
