.loading-main {
  flex-grow: 1;
  padding: var(--spacing-xl) var(--spacing-xl);
  background: var(--neutral-100);

  .hero {
    width: 100%;
    max-width: 100%;
    height: 192px;
    border-radius: var(--border-radius-lg);
    margin-bottom: var(--spacing-xl);
  }
}