@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/mixins' as *;
@use '@styles/tokens/colors' as *;
@use '@styles/tokens/border-radius' as *;

.banner {
  --banner-padding: #{pxToRem(24)} #{pxToRem(16)};
  --banner-gap: #{pxToRem(8)};
  --banner-content-gap: #{pxToRem(8)};

  display: flex;
  padding: var(--banner-padding);
  gap: var(--banner-gap);
  flex-direction: column;
  //background-color: $color-muted;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }

  @include tablet {
    --banner-padding: #{pxToRem(32)} #{pxToRem(24)};
    --banner-gap: #{pxToRem(24)};

    flex-direction: row;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--banner-content-gap);

    .description {
      color: $color-muted-foreground;
      margin-block-end: pxToRem(8);
    }
  }

  /*Direction*/
  &.imageOnRight {
    @include tablet {
      flex-direction: row-reverse;
    }
    @include desktop {
      flex-direction: row-reverse;
    }
  }
}
